html {
  background-color: #009dae;
}

.cart-text {
  color: black;
}

.App {
  text-align: center;
}

.basket {
  background-color: #71dfe7;
  font-size: 2rem;
  color: #c2fff9;
  border: solid 20px #ffe652;
  border-radius: 30px;
}

.search-bar {
  display: flex;
  margin: 1.6rem auto;
  background-color: #a0b8b8;
  border: solid 2px rgb(20, 17, 17);
  border-radius: 15px;
  width: 50vh;
}

.content {
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  background-color: rgb(148, 148, 148);
  border: solid 1px rgb(168, 71, 71);
  padding: 1rem;
  margin: 0.5rem;
}

.line-th {
  text-decoration: line-through;
}

.event-search {
  display: flex;
  margin: 1.5rem auto;
  font-size: 1.5em;
}
.hidden {
  display: none;
}

.footer {
  margin-bottom: 0;
  padding-bottom: 0;
}

li {
  border-radius: 10px;
}

button {
  border-radius: 5px;
  &:hover {
    background-color: green;
  }
}

.gro-item {
  display: flex;
}

.add-to {
  height: 5em;
  &:active {
    background: rgb(199, 188, 35);
    // transition: 0.8s ease-in-out;
    // transition: opacity 0.3s ease-in-out;
  }
}
