.App {
  text-align: center;
}

.basket {
  background-color: black;
  font-size: 2rem;
  color: white;
  margin: 1rem;
  border: solid 20px grey;
  border-radius: 30px;
}

.search-bar {
  margin: 1rem;
  background-color: pink;
  border: solid 2px red;
}

.content {
  display: flex;
  // flex-direction: column;
  justify-content: space-around;
}

ul {
  padding: 0;
  list-style: none;
}

.line-th {
  text-decoration: line-through;
}

.text-search {
  margin-bottom: 1.5rem;
  // padding: 1rem;
}
